body {
    font-family: 'Arial', sans-serif;
    background-color: #283149;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1 {
   
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
  }


.container {
    visibility: hidden;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 100px; /* Added margin-top to create space between h1 and container */
}

h2 {
    margin-bottom: 20px;
    color: #98b9c2;
}

.container  h2{
    color: #694053;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    font-size: medium;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.winner {
    visibility: hidden;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #404B69;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    top: 33%;  
}

#result h3{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}


.scorecard {
    visibility: hidden;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #404B69;
    border-radius: 10px;
    width: 20%;
    position: absolute;
    left: 75%;
    top: 39%;
    
}
p {
    font-size: 1.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

  h3 {
    color: #cc584e;
    font-size: 1.5rem;
}

.view{
    visibility: visible;
}

.hide
{
    visibility: hidden;
}

.game-rules {
    position: absolute;
    top: 37%;
    left: 20%;
    text-align: left;
    margin: 20px;
    padding: 20px;
    background-color: #404B69;
    border-radius: 10px;
    color: #DBEDF3;
    line-height: 1;
}

.game-rules button{
    font-size: 1.5rem;
}

.game-rules #enter
{
    text-align: center;
   
    margin: 20px;
    width: 700px;
    padding: 20px;
    background-color: #694053;
    border-radius: 10px;
    color: #DBEDF3;
}

.game-rules h2
{
    text-align: center;
}

.won
{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}